-- MySQL dump 10.13  Distrib 8.0.36, for Linux (x86_64)
--
-- Host: localhost    Database: khoa_luan_tot_nghiep
-- ------------------------------------------------------
-- Server version	8.0.36

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `battery`
--

DROP TABLE IF EXISTS `battery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `battery` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `voltage` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `battery`
--

LOCK TABLES `battery` WRITE;
/*!40000 ALTER TABLE `battery` DISABLE KEYS */;
/*!40000 ALTER TABLE `battery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientSocket`
--

DROP TABLE IF EXISTS `clientSocket`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientSocket` (
  `userId` varchar(255) NOT NULL DEFAULT '',
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `id` varchar(36) NOT NULL,
  `clientId` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientSocket`
--

LOCK TABLES `clientSocket` WRITE;
/*!40000 ALTER TABLE `clientSocket` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientSocket` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coapClientIpAddress`
--

DROP TABLE IF EXISTS `coapClientIpAddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coapClientIpAddress` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `ip` varchar(255) NOT NULL DEFAULT '',
  `deviceId` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coapClientIpAddress`
--

LOCK TABLES `coapClientIpAddress` WRITE;
/*!40000 ALTER TABLE `coapClientIpAddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `coapClientIpAddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `first_name` varchar(255) NOT NULL DEFAULT '',
  `last_name` varchar(255) NOT NULL DEFAULT '',
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `customer_id` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `IDX_8536b8b85c06969f84f0c098b0` (`email`),
  UNIQUE KEY `IDX_88acd889fbe17d0e16cc4bc917` (`phone`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers_devices_devices`
--

DROP TABLE IF EXISTS `customers_devices_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers_devices_devices` (
  `customersId` varchar(36) NOT NULL,
  `devicesId` varchar(36) NOT NULL,
  PRIMARY KEY (`customersId`,`devicesId`),
  KEY `IDX_2d1eda0440900e4962505b6d29` (`customersId`),
  KEY `IDX_ff0ae447b6756a9246177e8b30` (`devicesId`),
  CONSTRAINT `FK_2d1eda0440900e4962505b6d297` FOREIGN KEY (`customersId`) REFERENCES `customers` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_ff0ae447b6756a9246177e8b302` FOREIGN KEY (`devicesId`) REFERENCES `devices` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers_devices_devices`
--

LOCK TABLES `customers_devices_devices` WRITE;
/*!40000 ALTER TABLE `customers_devices_devices` DISABLE KEYS */;
INSERT INTO `customers_devices_devices` VALUES ('339e3f81-86d6-43b6-a0d7-0f0da3be59d2','4bca6c2d-07bf-4a2d-945c-ae860f82ffa3'),('339e3f81-86d6-43b6-a0d7-0f0da3be59d2','5e11a4dd-15a5-42ad-aa6a-6c83545811e6'),('c4670ed9-4c0a-4d42-9e95-b4c812219584','4bca6c2d-07bf-4a2d-945c-ae860f82ffa3'),('c4670ed9-4c0a-4d42-9e95-b4c812219584','5e11a4dd-15a5-42ad-aa6a-6c83545811e6'),('c4670ed9-4c0a-4d42-9e95-b4c812219584','d9eff004-e1aa-4209-b06a-adb214c8c681');
/*!40000 ALTER TABLE `customers_devices_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices`
--

DROP TABLE IF EXISTS `devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `deviceId` varchar(255) NOT NULL,
  `deviceName` varchar(255) NOT NULL DEFAULT '',
  `secretKey` varchar(255) NOT NULL,
  `AlarmReport` enum('1','0') NOT NULL DEFAULT '1',
  `roomId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `IDX_666c9b59efda8ca85b29157152` (`deviceId`),
  UNIQUE KEY `IDX_59973f05cc2e5905248dbd09e2` (`secretKey`),
  UNIQUE KEY `REL_f675c7104972a0372b2c2656b9` (`roomId`),
  CONSTRAINT `FK_f675c7104972a0372b2c2656b9b` FOREIGN KEY (`roomId`) REFERENCES `room` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices`
--

LOCK TABLES `devices` WRITE;
/*!40000 ALTER TABLE `devices` DISABLE KEYS */;
/*!40000 ALTER TABLE `devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devices_customers_customers`
--

DROP TABLE IF EXISTS `devices_customers_customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devices_customers_customers` (
  `devicesId` varchar(36) NOT NULL,
  `customersId` varchar(36) NOT NULL,
  PRIMARY KEY (`devicesId`,`customersId`),
  KEY `IDX_d2b36f04fec639cfdb4d6144c8` (`devicesId`),
  KEY `IDX_dca1cb9c5223c74ee531cb8750` (`customersId`),
  CONSTRAINT `FK_d2b36f04fec639cfdb4d6144c86` FOREIGN KEY (`devicesId`) REFERENCES `devices` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_dca1cb9c5223c74ee531cb8750c` FOREIGN KEY (`customersId`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devices_customers_customers`
--

LOCK TABLES `devices_customers_customers` WRITE;
/*!40000 ALTER TABLE `devices_customers_customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `devices_customers_customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `history`
--

DROP TABLE IF EXISTS `history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `deviceId` varchar(36) DEFAULT NULL,
  `sensorsId` varchar(36) DEFAULT NULL,
  `batteryId` varchar(36) DEFAULT NULL,
  `signalId` varchar(36) DEFAULT NULL,
  `simId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `REL_71df926b3cadf4ba36a2b89b95` (`sensorsId`),
  UNIQUE KEY `REL_87b8cc6daee4618c82203289b6` (`batteryId`),
  UNIQUE KEY `REL_16cc326f88ece731eb0c8c94b0` (`signalId`),
  UNIQUE KEY `REL_6d3dd836e8bf885109ef48c02f` (`simId`),
  KEY `FK_eef370538e184c4d3ebb69700a6` (`deviceId`),
  CONSTRAINT `FK_16cc326f88ece731eb0c8c94b0f` FOREIGN KEY (`signalId`) REFERENCES `signal` (`id`),
  CONSTRAINT `FK_6d3dd836e8bf885109ef48c02f7` FOREIGN KEY (`simId`) REFERENCES `sim` (`id`),
  CONSTRAINT `FK_71df926b3cadf4ba36a2b89b95c` FOREIGN KEY (`sensorsId`) REFERENCES `sensors` (`id`),
  CONSTRAINT `FK_87b8cc6daee4618c82203289b6d` FOREIGN KEY (`batteryId`) REFERENCES `battery` (`id`),
  CONSTRAINT `FK_eef370538e184c4d3ebb69700a6` FOREIGN KEY (`deviceId`) REFERENCES `devices` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history`
--

LOCK TABLES `history` WRITE;
/*!40000 ALTER TABLE `history` DISABLE KEYS */;
/*!40000 ALTER TABLE `history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `content` varchar(255) NOT NULL,
  `roomId` varchar(36) DEFAULT NULL,
  `ownerId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_fdfe54a21d1542c564384b74d5c` (`roomId`),
  KEY `FK_836fc46066e757709c46e99434e` (`ownerId`),
  CONSTRAINT `FK_836fc46066e757709c46e99434e` FOREIGN KEY (`ownerId`) REFERENCES `user` (`id`),
  CONSTRAINT `FK_fdfe54a21d1542c564384b74d5c` FOREIGN KEY (`roomId`) REFERENCES `room` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification_tokens`
--

DROP TABLE IF EXISTS `notification_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification_tokens` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `device_type` varchar(255) NOT NULL,
  `notification_token` varchar(255) NOT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'ACTIVE',
  `userId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_44a4ff581335d5aafa04223caa1` (`userId`),
  CONSTRAINT `FK_44a4ff581335d5aafa04223caa1` FOREIGN KEY (`userId`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification_tokens`
--

LOCK TABLES `notification_tokens` WRITE;
/*!40000 ALTER TABLE `notification_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `body` longtext,
  `status` varchar(255) NOT NULL DEFAULT 'ACTIVE',
  `notificationTokenId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_7280934664c31b68c004db70d07` (`notificationTokenId`),
  CONSTRAINT `FK_7280934664c31b68c004db70d07` FOREIGN KEY (`notificationTokenId`) REFERENCES `notification_tokens` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifies`
--

DROP TABLE IF EXISTS `notifies`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifies` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `customerId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_4a8b7578729dd05c7d729cfb6a8` (`customerId`),
  CONSTRAINT `FK_4a8b7578729dd05c7d729cfb6a8` FOREIGN KEY (`customerId`) REFERENCES `customers` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifies`
--

LOCK TABLES `notifies` WRITE;
/*!40000 ALTER TABLE `notifies` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifies` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room`
--

DROP TABLE IF EXISTS `room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  `description` varchar(255) NOT NULL,
  `ownerId` varchar(36) DEFAULT NULL,
  `type` enum('message-suporter','message-device') NOT NULL DEFAULT 'message-suporter',
  `request` tinyint NOT NULL DEFAULT '0',
  `status` enum('RESOLVED','IN PROGRESS','PENDING','NEEDS CLARIFICATION') NOT NULL DEFAULT 'PENDING',
  `rate` int NOT NULL DEFAULT '0',
  `submiterId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `REL_457f14ecf70084fa291a6150ca` (`submiterId`),
  KEY `FK_65283be59094a73fed31ffeee4e` (`ownerId`),
  CONSTRAINT `FK_457f14ecf70084fa291a6150ca2` FOREIGN KEY (`submiterId`) REFERENCES `user` (`id`),
  CONSTRAINT `FK_65283be59094a73fed31ffeee4e` FOREIGN KEY (`ownerId`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room`
--

LOCK TABLES `room` WRITE;
/*!40000 ALTER TABLE `room` DISABLE KEYS */;
/*!40000 ALTER TABLE `room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_members_user`
--

DROP TABLE IF EXISTS `room_members_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room_members_user` (
  `roomId` varchar(36) NOT NULL,
  `userId` varchar(36) NOT NULL,
  PRIMARY KEY (`roomId`,`userId`),
  KEY `IDX_55faef17b73607a94627246fc1` (`roomId`),
  KEY `IDX_96255b727fb7e6ed5a62dd4ef4` (`userId`),
  CONSTRAINT `FK_55faef17b73607a94627246fc13` FOREIGN KEY (`roomId`) REFERENCES `room` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `FK_96255b727fb7e6ed5a62dd4ef4f` FOREIGN KEY (`userId`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_members_user`
--

LOCK TABLES `room_members_user` WRITE;
/*!40000 ALTER TABLE `room_members_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `room_members_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `secretKey`
--

DROP TABLE IF EXISTS `secretKey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `secretKey` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `secretKey` varchar(255) NOT NULL DEFAULT '',
  `role` enum('Administrator','Moderator','User') NOT NULL DEFAULT 'Moderator',
  `isUse` tinyint NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `secretKey`
--

LOCK TABLES `secretKey` WRITE;
/*!40000 ALTER TABLE `secretKey` DISABLE KEYS */;
INSERT INTO `secretKey` VALUES ('195f385a-5c64-4477-b2d9-936fbad70298','2024-05-20 14:46:12.278967','2024-05-20 14:46:15.000000',NULL,'tH62TSIVZsJI','Moderator',1),('57a75dd8-9d90-4bc7-92a0-7aa3e6a29a13','2024-05-20 14:23:02.627793','2024-05-20 14:30:04.000000',NULL,'83mCal532puh','Moderator',1),('cea65357-3f2d-44f4-84de-fa191cb76060','2024-05-20 14:41:31.121187','2024-05-20 14:41:34.000000',NULL,'pj4IhXz1Ou6l','Moderator',1),('edf21b67-0bd2-4830-86bc-78e0ce50a8f7','2024-05-20 14:45:19.745998','2024-05-20 14:45:30.000000',NULL,'fERp5J85gGdP','Moderator',1);
/*!40000 ALTER TABLE `secretKey` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sensors`
--

DROP TABLE IF EXISTS `sensors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sensors` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `SmokeValue` int NOT NULL DEFAULT '0',
  `AlarmSatus` tinyint NOT NULL DEFAULT '0',
  `Temperature` int NOT NULL DEFAULT '0',
  `Humidity` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sensors`
--

LOCK TABLES `sensors` WRITE;
/*!40000 ALTER TABLE `sensors` DISABLE KEYS */;
/*!40000 ALTER TABLE `sensors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `signal`
--

DROP TABLE IF EXISTS `signal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `signal` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `Operator` varchar(255) NOT NULL DEFAULT '',
  `ipAddress` varchar(255) NOT NULL DEFAULT '',
  `tac` varchar(255) NOT NULL DEFAULT '',
  `band` int NOT NULL DEFAULT '0',
  `EARFCN` int NOT NULL DEFAULT '0',
  `PCI` int NOT NULL DEFAULT '0',
  `connectionStatus` int NOT NULL DEFAULT '0',
  `RSRP` int NOT NULL DEFAULT '0',
  `RSSI` int NOT NULL DEFAULT '0',
  `RSRQ` int NOT NULL DEFAULT '0',
  `T3324` int NOT NULL DEFAULT '0',
  `T3412` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `signal`
--

LOCK TABLES `signal` WRITE;
/*!40000 ALTER TABLE `signal` DISABLE KEYS */;
/*!40000 ALTER TABLE `signal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sim`
--

DROP TABLE IF EXISTS `sim`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sim` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `imsi` varchar(255) NOT NULL DEFAULT '',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sim`
--

LOCK TABLES `sim` WRITE;
/*!40000 ALTER TABLE `sim` DISABLE KEYS */;
/*!40000 ALTER TABLE `sim` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ticketMessage`
--

DROP TABLE IF EXISTS `ticketMessage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ticketMessage` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `ownerId` varchar(36) DEFAULT NULL,
  `message` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `REL_56a3924fc7e74eb2148630b10b` (`ownerId`),
  CONSTRAINT `FK_56a3924fc7e74eb2148630b10b4` FOREIGN KEY (`ownerId`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ticketMessage`
--

LOCK TABLES `ticketMessage` WRITE;
/*!40000 ALTER TABLE `ticketMessage` DISABLE KEYS */;
/*!40000 ALTER TABLE `ticketMessage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `topic` varchar(255) DEFAULT NULL,
  `priority` enum('Normal','High','Urgent') NOT NULL DEFAULT 'Normal',
  `notes` varchar(255) NOT NULL DEFAULT '',
  `rate` int NOT NULL DEFAULT '0',
  `category` enum('Feeback','Error','Complaint') NOT NULL DEFAULT 'Error',
  `ownerId` varchar(36) DEFAULT NULL,
  `submiterId` varchar(36) DEFAULT NULL,
  `status` enum('RESOLVED','IN PROGRESS','PENDING','NEEDS CLARIFICATION') NOT NULL DEFAULT 'PENDING',
  `replyId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `IDX_f574f053f788f826d4f5039d70` (`topic`),
  UNIQUE KEY `REL_7506734651265d3714ac06902d` (`ownerId`),
  UNIQUE KEY `REL_11ce2291010000e9e7149dfe0b` (`submiterId`),
  UNIQUE KEY `REL_6c38738aafc435953ad34ef25e` (`replyId`),
  CONSTRAINT `FK_11ce2291010000e9e7149dfe0ba` FOREIGN KEY (`submiterId`) REFERENCES `user` (`id`),
  CONSTRAINT `FK_6c38738aafc435953ad34ef25e9` FOREIGN KEY (`replyId`) REFERENCES `ticketMessage` (`id`),
  CONSTRAINT `FK_7506734651265d3714ac06902d0` FOREIGN KEY (`ownerId`) REFERENCES `user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
INSERT INTO `tickets` VALUES ('9d1c3929-68fa-4451-a91c-eecdcb0d3145','2024-05-22 11:13:45.756256','2024-05-23 20:58:50.000000',NULL,'test','Normal','test notes',0,'Error','96396b08-1716-4143-8d8a-069721f5d607',NULL,'IN PROGRESS',NULL);
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `username` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL DEFAULT '',
  `avatar` varchar(255) NOT NULL DEFAULT '',
  `isActive` tinyint NOT NULL DEFAULT '0',
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `role` enum('Administrator','Moderator','User') NOT NULL DEFAULT 'User',
  `customerId` varchar(36) DEFAULT NULL,
  `verifyId` varchar(36) DEFAULT NULL,
  `ticketId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `IDX_78a916df40e02a9deb1c4b75ed` (`username`),
  UNIQUE KEY `IDX_e12875dfb3b1d92d7d7c5377e2` (`email`),
  UNIQUE KEY `IDX_8e1f623798118e629b46a9e629` (`phone`),
  UNIQUE KEY `REL_6c687a8fa35b0ae35ce766b56c` (`customerId`),
  UNIQUE KEY `REL_579ca429551c77e25261951554` (`verifyId`),
  KEY `FK_8a621a614d069384be8692a8f98` (`ticketId`),
  CONSTRAINT `FK_579ca429551c77e25261951554f` FOREIGN KEY (`verifyId`) REFERENCES `verifyKey` (`id`),
  CONSTRAINT `FK_6c687a8fa35b0ae35ce766b56ce` FOREIGN KEY (`customerId`) REFERENCES `customers` (`id`),
  CONSTRAINT `FK_8a621a614d069384be8692a8f98` FOREIGN KEY (`ticketId`) REFERENCES `tickets` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verifyKey`
--

DROP TABLE IF EXISTS `verifyKey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `verifyKey` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `secretKey` int NOT NULL DEFAULT '0',
  `activeKeyExpiresAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verifyKey`
--

LOCK TABLES `verifyKey` WRITE;
/*!40000 ALTER TABLE `verifyKey` DISABLE KEYS */;
/*!40000 ALTER TABLE `verifyKey` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warningLogs`
--

DROP TABLE IF EXISTS `warningLogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warningLogs` (
  `id` varchar(36) NOT NULL,
  `created_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `updated_at` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6) ON UPDATE CURRENT_TIMESTAMP(6),
  `deleted_at` datetime(6) DEFAULT NULL,
  `message` varchar(255) NOT NULL DEFAULT '',
  `deviceId` varchar(36) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK_5c5292520303be201877e89824a` (`deviceId`),
  CONSTRAINT `FK_5c5292520303be201877e89824a` FOREIGN KEY (`deviceId`) REFERENCES `devices` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warningLogs`
--

LOCK TABLES `warningLogs` WRITE;
/*!40000 ALTER TABLE `warningLogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `warningLogs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-05-31 11:13:09
